.sidebar{
    position: fixed;
    width: 20vw;
    height: 100vh;
    background-color: #171717;
    /* padding: 20px; */
}

.sidebarHeading{
    margin-top: 15%;
    color: #363636;
    font-weight: bolder;
    font-size: larger;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.sidebarHeading div{
    min-width: 50% !important;
}

.logo img{
    width: 80%;
    height: 80%;
}

.sidebar hr{
    color: #747474;
    width: 80%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    height: 2px;
}

.sidebarItems{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.sidebarItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #747474;
    /* color: whitesmoke; */
    font-weight: bold;
    margin-bottom: 20px;
}

.sidebarFooter{
    display: flex;
    justify-content: center;
    border-top: 1px solid #363636;
    width: inherit;
    position: absolute;
    bottom: 0;
    padding: 15px;
    font-size: 22px;
    color: #747474;
    cursor: pointer;
}

.sidebarFooter div{
    padding: 5px;
}
