.addSubject{
    width: 20%;
    height: 30vh;
    background-color: grey;
}

.subjects{
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
}

.subject{
    margin: 15px;
}

.subject h1{
    text-align: center;
    color: white;
    margin-top: 35%;
}
